<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>klipper.gcode</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (Klipper G-Code) - Theme (Breeze Light)"/>
</head><body style="background-color:#ffffff;color:#1f1c1b"><pre>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> target  <span style="color:#ca60ca;">=</span> params.BED_TEMP<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">int</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> current <span style="color:#ca60ca;">=</span> printer.heater_bed.temperature <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">if</span> current <span style="color:#ca60ca;">&lt;</span> target <span style="color:#ca60ca;">-</span> <span style="color:#b08000;">20</span> <span style="color:#006e28;">%}</span>
<span style="font-weight:bold;">G4</span> <span style="color:#0057ae;">P</span><span style="color:#006e28;">{</span> <span style="color:#b08000;">5</span> <span style="color:#ca60ca;">*</span> <span style="color:#b08000;">60</span> <span style="color:#ca60ca;">*</span> <span style="color:#b08000;">1000</span> <span style="color:#006e28;">}</span>       <span style="color:#898887;">#Milliseconds to dwell</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">else</span> <span style="color:#006e28;">%}</span>
<span style="font-weight:bold;">G4</span> <span style="color:#0057ae;">P</span><span style="color:#006e28;">{</span> <span style="color:#b08000;">1</span> <span style="color:#ca60ca;">*</span> <span style="color:#b08000;">60</span> <span style="color:#ca60ca;">*</span> <span style="color:#b08000;">1000</span> <span style="color:#006e28;">}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endif</span> <span style="color:#006e28;">%}</span>
<span style="font-weight:bold;">G92</span> <span style="color:#0057ae;">E</span><span style="color:#b08000;">0</span>               <span style="color:#898887;"># Reset Extruder</span>
<span style="font-weight:bold;">G1</span> <span style="color:#0057ae;">Z</span><span style="color:#b08000;">2.0</span> <span style="color:#0057ae;">F</span><span style="color:#b08000;">3000</span>        <span style="color:#898887;"># Move Z Axis to travel height</span>
<span style="color:#0095ff;font-weight:bold;">ACCEPT</span>
<span style="color:#0095ff;font-weight:bold;">SET_PIN</span> <span style="color:#0057ae;">PIN</span><span style="color:#ca60ca;">=</span>my_led <span style="color:#0057ae;">VALUE</span><span style="color:#ca60ca;">=</span><span style="color:#b08000;">1</span>
<span style="font-weight:bold;">G4</span> <span style="color:#0057ae;">P</span><span style="color:#b08000;">2000</span>
<span style="color:#0095ff;font-weight:bold;">SET_PIN</span> <span style="color:#0057ae;">PIN</span><span style="color:#ca60ca;">=</span>my_led <span style="color:#0057ae;">VALUE</span><span style="color:#ca60ca;">=</span><span style="color:#b08000;">0</span>
</pre></body></html>
