<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test.twig</title>
<meta name="generator" content="KF5::SyntaxHighlighting - Definition (Twig (HTML)) - Theme (Breeze Light)"/>
</head><body style="background-color:#ffffff;color:#1f1c1b"><pre>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> [<span style="color:#bf0303;">'page_detailed.html'</span>, <span style="color:#bf0303;">'page.html'</span>] <span style="color:#006e28;">%}</span>
<span style="color:#898887;">{# template.html will have access to the variables from the current context and the additional ones provided #}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#bf0303;">'template.html'</span> <span style="font-weight:bold;">with</span> {<span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span>} <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#bf0303;">'template.html'</span> <span style="font-weight:bold;">with</span> {<span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span>} <span style="font-weight:bold;">only</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> vars <span style="color:#ca60ca;">=</span> {<span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span>} <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#bf0303;">'template.html'</span> <span style="font-weight:bold;">with</span> vars <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#bf0303;">'sidebar.html'</span> <span style="font-weight:bold;">ignore missing</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#bf0303;">'sidebar.html'</span> <span style="font-weight:bold;">ignore missing</span> <span style="font-weight:bold;">with</span> {<span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span>} <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">include</span> <span style="color:#bf0303;">'sidebar.html'</span> <span style="font-weight:bold;">ignore missing</span> <span style="font-weight:bold;">only</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{{</span> <span style="color:#644a9b;">include</span>(<span style="color:#bf0303;">'sidebar.html'</span>) <span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">import</span> <span style="color:#bf0303;">&quot;macros.twig&quot;</span> <span style="font-weight:bold;">as</span> macros <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">from</span> <span style="color:#bf0303;">&quot;macros.twig&quot;</span> <span style="font-weight:bold;">import</span> hello <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">verbatim</span> <span style="color:#006e28;">%}</span>
<span style="color:#e31616;">    &lt;ul&gt;</span>
<span style="color:#e31616;">    {% for item in seq %}</span>
<span style="color:#e31616;">        &lt;li&gt;{{ item }}&lt;/li&gt;</span>
<span style="color:#e31616;">    {% endfor %}</span>
<span style="color:#e31616;">    &lt;/ul&gt;</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endverbatim</span> <span style="color:#006e28;">%}</span>

<span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">p</span><span style="color:#0057ae;">&gt;</span><span style="color:#006e28;">{{</span> <span style="color:#0057ae;">_self</span><span style="color:#ca60ca;">.</span><span style="color:#644a9b;">input</span>(<span style="color:#bf0303;">'password'</span>, <span style="color:#bf0303;">''</span>, <span style="color:#bf0303;">'password'</span>) <span style="color:#006e28;">}}</span><span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">p</span><span style="color:#0057ae;">&gt;</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">macro</span> <span style="color:#644a9b;">input</span>(name, value, <span style="color:#0057ae;">type </span><span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">&quot;text&quot;</span>, <span style="color:#0057ae;">size </span><span style="color:#ca60ca;">=</span> <span style="color:#b08000;">20</span>) <span style="color:#006e28;">%}</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">input</span><span style="color:#006e28;"> type</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;">{{</span> type <span style="color:#006e28;">}}</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;"> name</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;">{{</span> name <span style="color:#006e28;">}}</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;"> value</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;">{{</span> value<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">e</span> <span style="color:#006e28;">}}</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;"> size</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;</span><span style="color:#006e28;">{{</span> size <span style="color:#006e28;">}}</span><span style="color:#bf0303;">&quot;</span><span style="color:#0057ae;">/&gt;</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endmacro</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">if</span> macros<span style="color:#ca60ca;">.</span><span style="color:#644a9b;">hello</span> <span style="font-weight:bold;">is</span> <span style="font-weight:bold;">defined</span> <span style="color:#ca60ca;">-</span><span style="color:#006e28;">%}</span>
    OK
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endif</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">if</span> hello <span style="font-weight:bold;">is</span> <span style="font-weight:bold;">defined</span> <span style="color:#ca60ca;">-</span><span style="color:#006e28;">%}</span>
    OK
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endif</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'foo'</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#ca60ca;">=</span> [<span style="color:#b08000;">1</span>, <span style="color:#b08000;">2</span>] <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#ca60ca;">=</span> {<span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span>} <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">apply</span> <span style="color:#644a9b;">upper</span> <span style="color:#006e28;">%}</span>
    This text becomes uppercase
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endapply</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">apply</span> <span style="color:#644a9b;">lower</span><span style="color:#ca60ca;">|</span><span style="color:#644a9b;">escape</span>(<span style="color:#bf0303;">'html'</span>) <span style="color:#006e28;">%}</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">strong</span><span style="color:#0057ae;">&gt;</span>SOME TEXT<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">strong</span><span style="color:#0057ae;">&gt;</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endapply</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{{</span> list<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">join</span>(<span style="color:#bf0303;">', '</span>) <span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{{</span> name<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">striptags</span><span style="color:#ca60ca;">|</span><span style="color:#644a9b;">title</span> <span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">for</span> i <span style="font-weight:bold;">in</span> <span style="color:#b08000;">0.</span><span style="color:#ca60ca;">.</span><span style="color:#b08000;">3</span> <span style="color:#006e28;">%}</span>
    <span style="color:#006e28;">{{</span> i <span style="color:#006e28;">}}</span>,
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endfor</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">for</span> i <span style="font-weight:bold;">in</span> <span style="color:#644a9b;">range</span>(<span style="color:#b08000;">0</span>, <span style="color:#b08000;">3</span>) <span style="color:#006e28;">%}</span>
    <span style="color:#006e28;">{{</span> i <span style="color:#006e28;">}}</span>,
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endfor</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">for</span> i <span style="font-weight:bold;">in</span> <span style="color:#644a9b;">range</span>(<span style="color:#0057ae;">low</span><span style="color:#ca60ca;">=</span><span style="color:#b08000;">1</span>, <span style="color:#0057ae;">high</span><span style="color:#ca60ca;">=</span><span style="color:#b08000;">10</span>, <span style="color:#0057ae;">step</span><span style="color:#ca60ca;">=</span><span style="color:#b08000;">2</span>) <span style="color:#006e28;">%}</span>
    <span style="color:#006e28;">{{</span> i <span style="color:#006e28;">}}</span>,
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endfor</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{{</span> data<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">convert_encoding</span>(<span style="color:#bf0303;">'UTF-8'</span>, <span style="color:#bf0303;">'iso-2022-jp'</span>) <span style="color:#006e28;">}}</span>

<span style="color:#898887;">{# versus #}</span>

<span style="color:#006e28;">{{</span> data<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">convert_encoding</span>(<span style="color:#0057ae;">from</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">'iso-2022-jp'</span>, <span style="color:#0057ae;">to</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">'UTF-8'</span>) <span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{{</span> <span style="color:#bf0303;">&quot;now&quot;</span><span style="color:#ca60ca;">|</span><span style="color:#644a9b;">date</span>(<span style="color:#aa5500;">null</span>, <span style="color:#bf0303;">&quot;Europe/Paris&quot;</span>) <span style="color:#006e28;">}}</span>
<span style="color:#006e28;">{{</span> <span style="color:#bf0303;">&quot;now&quot;</span><span style="color:#ca60ca;">|</span><span style="color:#644a9b;">date</span>(<span style="color:#bf0303;">'d/m/Y H:i'</span>, <span style="color:#0057ae;">timezone</span><span style="color:#ca60ca;">=</span><span style="color:#bf0303;">&quot;Europe/Paris&quot;</span>) <span style="color:#006e28;">}}</span>


<span style="color:#0057ae;font-weight:bold;">&lt;!DOCTYPE </span>html<span style="color:#0057ae;font-weight:bold;">&gt;</span>
<span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">html</span><span style="color:#0057ae;">&gt;</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">head</span><span style="color:#0057ae;">&gt;</span>
        <span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> head <span style="color:#006e28;">%}</span>
            <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">link</span><span style="color:#006e28;"> rel</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;stylesheet&quot;</span><span style="color:#006e28;"> href</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;style.css&quot;</span><span style="color:#0057ae;">/&gt;</span>
            <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">title</span><span style="color:#0057ae;">&gt;</span><span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> title <span style="color:#006e28;">%}{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span> - My Webpage<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">title</span><span style="color:#0057ae;">&gt;</span>
        <span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span>
    <span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">head</span><span style="color:#0057ae;">&gt;</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">body</span><span style="color:#0057ae;">&gt;</span>
        <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">div</span><span style="color:#006e28;"> id</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;content&quot;</span><span style="color:#0057ae;">&gt;</span><span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> content <span style="color:#006e28;">%}{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span><span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">div</span><span style="color:#0057ae;">&gt;</span>
        <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">div</span><span style="color:#006e28;"> id</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;footer&quot;</span><span style="color:#0057ae;">&gt;</span>
            <span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> footer <span style="color:#006e28;">%}</span>
                <span style="color:#b08000;">&amp;copy;</span> Copyright 2011 by <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">a</span><span style="color:#006e28;"> href</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;http://domain.invalid/&quot;</span><span style="color:#0057ae;">&gt;</span>you<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">a</span><span style="color:#0057ae;">&gt;</span>.
            <span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span>
        <span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">div</span><span style="color:#0057ae;">&gt;</span>
    <span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">body</span><span style="color:#0057ae;">&gt;</span>
<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">html</span><span style="color:#0057ae;">&gt;</span>


<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">extends</span> <span style="color:#bf0303;">&quot;base.html&quot;</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> title <span style="color:#006e28;">%}</span>Index<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> head <span style="color:#006e28;">%}</span>
    <span style="color:#006e28;">{{</span> <span style="color:#644a9b;">parent</span>() <span style="color:#006e28;">}}</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">style</span><span style="color:#006e28;"> type</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;text/css&quot;</span><span style="color:#0057ae;">&gt;</span>
        <span style="color:#644a9b;">.important</span> { <span style="font-weight:bold;">color</span>: <span style="color:#aa5500;">#336699</span><span style="color:#ca60ca;">;</span> }
    <span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">style</span><span style="color:#0057ae;">&gt;</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> content <span style="color:#006e28;">%}</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">h1</span><span style="color:#0057ae;">&gt;</span>Index<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">h1</span><span style="color:#0057ae;">&gt;</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">p</span><span style="color:#006e28;"> class</span><span style="color:#006e28;">=</span><span style="color:#bf0303;">&quot;important&quot;</span><span style="color:#0057ae;">&gt;</span>
        Welcome to my awesome homepage.
    <span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">p</span><span style="color:#0057ae;">&gt;</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">block</span> sidebar <span style="color:#006e28;">%}</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">h3</span><span style="color:#0057ae;">&gt;</span>Table Of Contents<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">h3</span><span style="color:#0057ae;">&gt;</span>
    ...
    <span style="color:#006e28;">{{</span> <span style="color:#644a9b;">parent</span>() <span style="color:#006e28;">}}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endblock</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> greeting <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'Hello '</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> name <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'Fabien'</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{{</span> greeting <span style="color:#ca60ca;">~</span> name<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">lower</span> <span style="color:#006e28;">}}</span>   <span style="color:#898887;">{# Hello fabien #}</span>

<span style="color:#898887;">{# use parenthesis to change precedence #}</span>
<span style="color:#006e28;">{{</span> (greeting <span style="color:#ca60ca;">~</span> name)<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">lower</span> <span style="color:#006e28;">}}</span> <span style="color:#898887;">{# hello fabien #}</span>

<span style="color:#898887;">{# keys as string #}</span>
<span style="color:#006e28;">{{</span>{ <span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'foo'</span>, <span style="color:#bf0303;">'bar'</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span> }<span style="color:#006e28;">}}</span>

<span style="color:#898887;">{# keys as names (equivalent to the previous hash) #}</span>
<span style="color:#006e28;">{{</span>{ foo<span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'foo'</span>, bar<span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span> }<span style="color:#006e28;">}}</span>

<span style="color:#898887;">{# keys as integer #}</span>
<span style="color:#006e28;">{{</span>{ <span style="color:#b08000;">2</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'foo'</span>, <span style="color:#b08000;">4</span><span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span> }<span style="color:#006e28;">}}</span>

<span style="color:#898887;">{# keys can be omitted if it is the same as the variable name #}</span>
<span style="color:#006e28;">{{</span>{ foo }<span style="color:#006e28;">}}</span>
<span style="color:#898887;">{# is equivalent to the following #}</span>
<span style="color:#006e28;">{{</span>{ <span style="color:#bf0303;">'foo'</span><span style="color:#ca60ca;">:</span> foo }<span style="color:#006e28;">}}</span>

<span style="color:#898887;">{# keys as expressions (the expression must be enclosed into parentheses) #}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> foo <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'foo'</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{{</span>{ (foo)<span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'foo'</span>, (<span style="color:#b08000;">1</span> <span style="color:#ca60ca;">+</span> <span style="color:#b08000;">1</span>)<span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'bar'</span>, (foo <span style="color:#ca60ca;">~</span> <span style="color:#bf0303;">'b'</span>)<span style="color:#ca60ca;">:</span> <span style="color:#bf0303;">'baz'</span> }<span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">apply</span> <span style="color:#644a9b;">spaceless</span> <span style="color:#006e28;">%}</span>
    <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">div</span><span style="color:#0057ae;">&gt;</span>
        <span style="color:#0057ae;">&lt;</span><span style="font-weight:bold;">strong</span><span style="color:#0057ae;">&gt;</span>foo bar<span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">strong</span><span style="color:#0057ae;">&gt;</span>
    <span style="color:#0057ae;">&lt;/</span><span style="font-weight:bold;">div</span><span style="color:#0057ae;">&gt;</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endapply</span> <span style="color:#006e28;">%}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">cache</span> <span style="color:#bf0303;">&quot;cache key&quot;</span> <span style="color:#644a9b;">ttl</span>(<span style="color:#b08000;">300</span>) <span style="color:#006e28;">%}</span>
    Cached for 300 seconds
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endcache</span> <span style="color:#006e28;">%}</span>


<span style="color:#006e28;">{{</span> sizes<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">filter</span>(<span style="color:#0057ae;">v </span><span style="color:#ca60ca;">=&gt;</span> v <span style="color:#ca60ca;">&gt;</span> <span style="color:#b08000;">38</span>)<span style="color:#ca60ca;">|</span><span style="color:#644a9b;">join</span>(<span style="color:#bf0303;">', '</span>) <span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{{</span> <span style="color:#b08000;">34243</span> <span style="font-weight:bold;">b-xor</span> <span style="color:#b08000;">89754321</span> <span style="color:#006e28;">}}</span>

<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">set</span> bar <span style="color:#ca60ca;">=</span> <span style="color:#bf0303;">'bar'</span> <span style="color:#006e28;">%}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">with</span> { foo<span style="color:#ca60ca;">:</span> <span style="color:#b08000;">42</span> } <span style="font-weight:bold;">only</span> <span style="color:#006e28;">%}</span>
    <span style="color:#898887;">{# only foo is defined #}</span>
    <span style="color:#898887;">{# bar is not defined #}</span>
<span style="color:#006e28;">{%</span> <span style="font-weight:bold;">endwith</span> <span style="color:#006e28;">%}</span>
</pre></body></html>
